<head>
    <meta name="viewport" content="width=device-width" />

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    <script src="~/Scripts/Tienda/Carrito.js"></script>
    <title>Login</title>
</head>

<div id="content" class="body-content">
    <h2>Carrito</h2>
    </br>
        <div id="productosCarrito" style="display:none">
            <div class="row">                       
                </div>
                <div id="tablaCarrito">
                </div>
                <div id="tablaCarritoPaginado">
            </div>
        </div>
</div>
        <input type="button" id="btnComprar" value="RealizarPedido" class="btn btn-default displayBlock" />
