<head>
    <meta name="viewport" content="width=device-width" />

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    <script src="~/Scripts/Tienda/ListadoProductos.js"></script>
    <title>Login</title>
</head>

<div id="content" class="body-content">
    <h2>Tienda online</h2>
    </br>
    <div class="row">
        <div class="col-md-1"></div>

        <section id="listaProductosForm">
            <form class="form-horizontal">
                <div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="txtNombreProducto">Que estas buscando?</label>
                            <div class="col-md-8">
                                <input type="text" id="txtNombreProducto" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="cmbZona">Estas en?</label>
                            <div class="col-md-8">
                                <select id="cmbZona" class="form-control"></select>
                            </div>
                        </div>                                         
                        <div class="form-group">
                            <div class="col-md-offset-10 col-md-10">
                                <input type="button" id="btnBuscar" value="Buscar" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                </div>                
            </form>
        </section>

        <div class="col-md-5"></div>
        <div class="col-md-1"></div>
    </div>

    <div class="row">
        <h3>Productos</h3>
        <div id="tablaPaginado">
        </div>
        <div id="tablaProductos">
        </div>
    </div>

