<head>
    <meta name="viewport" content="width=device-width" />

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    <script src="~/Scripts/Login/Registrar.js"></script>
    <title>Login</title>
</head>

<div id="content" class="body-content">
    <h2>Registrate</h2>
    </br>
    <div class="row">
        <div class="col-md-1"></div>
           
                <section id="registrarForm">
                    <form class="form-horizontal">
                        
                            <div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="txtUsuario">Correo electrónico</label>
                                        <div class="col-md-8">
                                            <input type="text" id="txtUsuario" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="txtPassword">Contraseña</label>
                                        <div class="col-md-8">
                                            <input type="password" id="txtPassword" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="txtRepetirPassword">Repetir Contraseña</label>
                                        <div class="col-md-8">
                                            <input type="password" id="txtRepetirPassword" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="txtNombre1">Primer nombre</label>
                                        <div class="col-md-8">
                                            <input type="text" id="txtNombre1" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="txtNombre2">Segundo nombre</label>
                                        <div class="col-md-8">
                                            <input type="text" id="txtNombre2" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="txtApellido1">Primer apellido</label>
                                        <div class="col-md-8">
                                            <input type="text" id="txtApellido1" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="txtApellido2">Segundo apellido</label>
                                        <div class="col-md-8">
                                            <input type="text" id="txtApellido2" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="txtNumeroDocumento">C.I.</label>
                                        <div class="col-md-8">
                                            <input type="text" id="txtNumeroDocumento" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="txtTelefono">Teléfono</label>
                                        <div class="col-md-8">
                                            <input type="text" id="txtTelefono" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="txtCelular">Celular</label>
                                        <div class="col-md-8">
                                            <input type="text" id="txtCelular" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="txtEmail">Correo electrónico</label>
                                        <div class="col-md-8">
                                            <input type="email" id="txtEmail" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="txtFechaNacimiento">Fecha nacimiento</label>
                                        <div class="col-md-8">
                                            <input type="date" id="txtFechaNacimiento" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-10 col-md-10">
                                            <input type="button" id="btnRegistrar" value="Registrar" class="btn btn-default" />
                                        </div>
                                    </div>
                                </div>
                                    </div>
                    </form>
                </section>
            
        <div class="col-md-5"></div>
        <div class="col-md-1"></div>
        </div>
</div>
