@{
    ViewBag.Title = "Home Page";
}  

    <div class="row" >
        <div style="width:100%;min-height:400px;margin-bottom:1%;margin-top:0%;margin-left:1%;margin-right:1%;padding:0px;background-repeat:no-repeat;background-image:url('/Content/imgHuerta.jpg');opacity: 0.8;">
            <h1 class="hwhite">HUERTA DIRECTA</h1>
        </div>
    </div>
