body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/* sobreescribo el bootstrap*/

.navbar{
    margin-bottom:0px;
    min-height: 60px;
}

.navbar-header{
   background-color:#468847 !important;
   color: white; 
}

    .navbar-header a {
        color: white;
        font-size: x-large !important;
    }

.navbar-inverse .navbar-brand {
    color: white !important; 
}

.navbar-collapse{
   background-color:#468847 !important;
   color: white; 
}

.navbar-inverse {
       background-color:#468847 !important;
        border-color:#468847 !important;
}

.navbar-inverse a {
        color: white;      
    }

.navbar-inverse .navbar-nav > li > a  {
        color: white !important;      
}

.form-control{
     margin-bottom:10px !important;
}

.btn{
     margin-bottom:10px !important;
}

.form-horizontal .control-label {
    text-align: left !important;
    padding-right:0% !important;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color:#389139;
    border-color:#468847 !important;
}

body {
    padding-top:0px !important;
}

.cabezal {
    width:100%;
    height:10%;
}

.img-cabezal {
    width:100% !important;
    height:150px !important;
}

.hwhite {
    color:white;
    font-size:x-large;
    margin-left:15%;
}